body {
    margin: 0; /*This stopped the footer from going to the bottom*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-image {
    min-width : 400px;
    min-height : 200px;
    align-content: center;
}

.center img {
    min-width : 150px;
    min-height : 150px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-images {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.main {
    flex: 1;
}
