body {
    margin: 0; /*This stopped the footer from going to the bottom*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 15px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 12px;
    padding-inline: 7px;

}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 50px;
    text-align: justify;
    gap: 20px;
}

.top .left-side {
    max-width: 300px; /* max-width: 30vh will mess with flex-box*/
}

h1 {
    font-size: 40px;
    color: #F9FAF8;
    padding: 0px;
    margin-bottom: 0px;
}

h5 {
    margin: 0px;
    font-size: 12px;
    color: #E5E7EB;
    padding-bottom: 20px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding-block: 2px;
    padding-inline: 25px;
    align-self: center;
    border: 2px solid #3882F6;
}

button:hover {
    background-color: #2972e7;
}

.top-image {
    min-width : 400px;
    min-height : 200px;
    align-content: center;
    text-align: center;
    border:2px solid #3882F6;
}

.center img {
    min-block-size: 100px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-images {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.main {
    flex: 1;
}

.quote {
    display: flex;
    justify-content: center;
    min-height: 150px;
    align-items: center;
    background-color: #E5E7EB ;
    margin-block: 50px;
}

.bottom {
    display: flex;
    justify-content: center;
    gap:20px;
    background-color: #3882F6;
    text-align: center;
    padding-inline: 50px;
    padding-block: 30px;
    margin: 0 auto;  /*Allows the block to move dynamically 1/2*/
    border-radius: 15px;
    color: #F9FAF8;
    max-width: fit-content; /*Allows the block to move dynamically 2/2*/
}

.bottom button {
    border: 2px solid #F9FAF8;
}


.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 15px;
    margin-top: 0px;
}


